.oe_form .row, .col-md-6, .col-md-12, .col-md-8, .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.oe_form .form-group {
  width: 442px; //TODO fluid
}

.oe_form textarea {
  width: 442px;
  height: 100px;
}

.oe_form div.input input {
  width: 442px; //FIXME in fact we just want to size select2 inputs like simple_form
}

.oe_form select.datetime {
  width: 80px;
  display: inline;
}

.oe_form select.date {
  width: 144px;
  display: inline;
}

.oe_form .tabbable {
  border-bottom: 1px solid #DDD;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.oe_form .oe_form_group {
  display: inline-block;
}

.oe_form .required input:not([disabled]):not([readonly]), .openerp .oe_form .required select:not([disabled]):not([readonly]), .openerp .oe_form .required textarea:not([disabled]):not([readonly]) {
background-color: #D2D2FF !important;
}

// OE base.cass:

.openerp.openerp_webclient_container {
  height: 100%;
}

.openerp .oe_avatar + div {
  margin-left: 5px;
}

.openerp .oe_title {
  width: 50%;
  float: left;
}

.openerp .oe_button_box {
width: 270px;
text-align: right;
}

.openerp .oe_right {
float: right;
margin-left: 8px;
}
