<div class='openerp openerp_webclient_container'><div class='oe_form span12'>

<h1>New <%= @abstract_model.model_name %></h1>

<%= render(partial: 'action_window/form', locals: {oe_partial: @oe_partial, object: @object, model_path: @model_path}) %>

</div></div>
