<div class='nested-fields'>
<div class="row">
  <div class="col-md-8">
    <%= f.ooor_input :name %>
  </div>
  <div class="col-md-4" style="margin-top:35px">
    <%= link_to_remove_association "Remove", f %>
  </div>
  </div>
</div>
