.openerp div label.span2, .openerp div label.span3 {
#  float: left;
#  margin-right: 30px;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.openerp textarea {
  width: 300px;
  height: 100px;
}

.openerp div.input input {
  width: 220px;
}

.openerp select.datetime, .openerp select.date {
  width: 71px;
}

.openerp .tabbable {
  border-bottom: 1px solid #DDD;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.openerp .oe_form_group {
  display: inline-block;
}

.openerp .row {
  margin-left: 0px;
  clear: both;
}

.row-fluid .span6 {
  margin-left: 0px !important;
}

.openerp .tab-content {
  overflow: hidden;
}

.openerp .oe_form .required input:not([disabled]):not([readonly]), .openerp .oe_form .required select:not([disabled]):not([readonly]), .openerp .oe_form .required textarea:not([disabled]):not([readonly]) {
background-color: #D2D2FF !important;
}

// OE base.cass:

.openerp.openerp_webclient_container {
  height: 100%;
}

.openerp .oe_avatar + div {
  margin-left: 5px;
}
.openerp .oe_title {
  width: 50%;
  float: left;
}

.openerp .oe_button_box {
width: 270px;
text-align: right;
}

.openerp .oe_right {
float: right;
margin-left: 8px;
}

.openerp .oe_form .oe_form_field_image .oe_form_field_image_controls {
  position: absolute;
  top: 1px;
  padding: 4px 0;
  width: 100%;
  display: none;
  text-align: center;
  color: #eeeeee;
  background: rgba(37, 37, 37, 0.9);
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
